{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block title %}wachtwoord wijzigen aanpassen{% endblock %}

{% block body %}
    <link href="{{ asset('styles/main.css') }}" rel="stylesheet">

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        {% include 'partials/adminHeader.html.twig' %}
        <div class="app-main">
            {% include 'partials/adminSidebar.html.twig' %}
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-user-edit">
                                    </i>
                                </div>
                                <div>Wachtwoord wijzigen
                                    <div class="page-title-subheading">Hier kan u het wachtwoord van een klant wijzigen
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
                            <div class="errors">
                                {{ form_errors(form) }}
                            </div>


                            <div class="position-relative form-group">
                                {{ form_label(form.password, "Wachtwoord") }}
                                {{ form_widget(form.password) }}
                            </div>

                            {{ form_row(form.save, { 'label': 'wachtwoord wijzigen' }) }}
                            {{ form_end(form) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ asset('scripts/architect.js') }}"></script>
{% endblock %}
