{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block title %}Bericht{% endblock %}




{% block body %}
    <link href="{{ asset('styles/main.css') }}" rel="stylesheet">

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        {% include 'partials/adminHeader.html.twig' %}
        <div class="app-main">
            {% include 'partials/adminSidebar.html.twig' %}
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-users">
                                    </i>
                                </div>
                                <div>Bericht
                                    <div class="page-title-subheading">
                                        Verstuurd door {{ message.sender.firstname }} {{ message.sender.name }} op {{ message.createdat | date("d/m/Y") }} om {{ message.createdat | date("H:i:s") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-card mb-3 card">
                        {{ message.content }}
                    </div>

                    <a href="{{ path('admin-period-detail', {'id': message.relatedperiod.id}) }}"><button class="mb-2 mr-2 btn btn-primary">Gerelateerde periode bekijken</button></a>
                    <a href="{{ path('admin-message-reply', {'id': message.id}) }}"><button class="mb-2 mr-2 btn btn-primary">Beantwoorden</button></a>

                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ asset('scripts/architect.js') }}"></script>
{% endblock %}
