{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block title %}Periode wijzigen{% endblock %}

{% block body %}
    <link href="{{ asset('styles/main.css') }}" rel="stylesheet">

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        {% include 'partials/adminHeader.html.twig' %}
        <div class="app-main">
            {% include 'partials/adminSidebar.html.twig' %}
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-user-edit">
                                    </i>
                                </div>
                                <div>Periode wijzigen
                                    <div class="page-title-subheading">Hier kan u een periode wijzigen
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
                            <div class="errors">
                                {{ form_errors(form) }}
                            </div>

                            <div class="position-relative form-group">
                                {{ form_label(form.customer, "Klant") }}
                                {{ form_widget(form.customer) }}
                            </div>

                            <div class="form-row">
                                <div class="position-relative form-group col-md-6">
                                    {{ form_label(form.start_time, "Start periode") }}
                                    {{ form_widget(form.start_time) }}
                                </div>
                                <div class="position-relative form-group col-md-6">
                                    {{ form_label(form.end_time, "Einde periode") }}
                                    {{ form_widget(form.end_time) }}
                                </div>
                            </div>

                            <div class="position-relative form-group hidden">
                                {{ form_label(form.confirmed, "Klant") }}
                                {{ form_widget(form.confirmed) }}
                            </div>

                            {{ form_row(form.save, { 'label': 'periode wijzigen' }) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                              <a href="{{ path('admin-period-delete', {'id': period.id}) }}"><button type="button" class="btn mr-2 mb-2 btn-danger">Periode Verwijderen</button></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ asset('scripts/architect.js') }}"></script>
{% endblock %}
