{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}This is the admin index page{% endblock %}

{% block body %}
    <link href="{{ asset('styles/main.css') }}" rel="stylesheet">

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        {% include 'partials/adminHeader.html.twig' with {'username': 'username'} %}
        <div class="app-main">
            {% include 'partials/adminSidebar.html.twig' %}
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-user-slash">
                                    </i>
                                </div>
                                <div>Klant verwijderen
                                    <div class="page-title-subheading">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div class="card-title">Bent u zeker dat u het account van deze klant wilt verwijderen?</div>
                                    <!-- Button trigger modal -->
                                    <a href="{{ path('admin-customer-confirm-delete', {'id': customer.id}) }}"><button type="button" class="btn mr-2 mb-2 btn-danger">Verwijderen</button></a>
                                    <!-- Button trigger modal -->
                                    <a href="{{ path('admin-customer-edit', {'id': customer.id}) }}"><button type="button" class="btn mr-2 mb-2 btn-primary">Terug</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ asset('scripts/architect.js') }}"></script>
{% endblock %}
