{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block title %}Klantgegevens aanpassen{% endblock %}




{% block body %}
    <link href="{{ asset('styles/main.css') }}" rel="stylesheet">

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        {% include 'partials/adminHeader.html.twig' with {'username': 'username'} %}
        <div class="app-main">
            {% include 'partials/adminSidebar.html.twig' %}
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-user-edit">
                                    </i>
                                </div>
                                <div>Klantgegevens aanpassen
                                    <div class="page-title-subheading">Hier kan u de gegevens van een klant aanpassen
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
                            <div class="errors">
                                {{ form_errors(form) }}
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        {{ form_label(form.name, "Naam") }}
                                        {{ form_widget(form.name) }}
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group">
                                        {{ form_label(form.first_name, "Voornaam") }}
                                        {{ form_widget(form.first_name) }}
                                    </div>
                                </div>
                            </div>
                            <div class="position-relative form-group">
                                {{ form_label(form.company_name, "Naam bedrijf") }}
                                {{ form_widget(form.company_name) }}
                            </div>
                            <div class="position-relative form-group">
                                {{ form_label(form.email, "Emailadres") }}
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="position-relative form-group hidden">
                                {{ form_label(form.password, "Wachtwoord") }}
                                {{ form_widget(form.password) }}
                            </div>

                            {{ form_row(form.save, { 'label': 'klantgegevens opslaan' }) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ path('admin-customer-delete', {'id': customer.id}) }}"><button type="button" class="btn mr-2 mb-2 btn-danger">Klantaccount Verwijderen</button></a>
                            <a href="{{ path('admin-customer-change-password', {'id': customer.id}) }}"><button type="button" class="btn mr-2 mb-2 btn-warning">Wachtwoord veranderen</button></a>
                            <a href="{{ path('admin-customer-change-rates', {'id': customer.id}) }}"><button type="button" class="btn mr-2 mb-2 btn-warning">Tarieven aanpassen</button></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ asset('scripts/architect.js') }}"></script>
{% endblock %}
